services:
  db-postgres:
    container_name: db-postgres
    build:
      context: docker/postgres
      dockerfile: Dockerfile-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
